#console {
    position: fixed;
    right: 2vmin;
    width: 50vmin;
    bottom: 2vmin;
    top: 15vmin;
}

#consoleOutput {
    height: 60vh;
}

#consoleTextField {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 1em;

    height: fit-content;
    width: calc(50vmin - 1em);
    border: 4px solid #8e8989;
    border-radius: 8px;
    padding: 1vmin;
    /*box-shadow: 0 0 15px #ffffff;*/

    #consoleInput {
        margin-left: 1vmin;
        background-color: transparent;
        width: calc(100% - 5vmin - 2em);
        border: none;
        outline: none;
        color: white;
    }

    #consoleSubmit {
        position: absolute;
        right: 1em;
        width: 5vmin;
    }
}

.message {
    width: fit-content;
    padding: 0.5vmin;
    margin: 0.5vmin;
    border-radius: 8px;
}

.receivedMessage {
    background-color: #6ca524;
}

.sentMessage {
    background-color: #733556;
    margin-left: auto;
}